:root {
  --scaling:1.5;
  --sizeLogo:25vh;
}

@media (max-width: 768px) {
  :root {
    --scaling:1.35;
    --sizeLogo:20vh;
  }
}

@media (max-width: 613px) {
  :root {
    --scaling:1.2;
    --sizeLogo:15vh;
  }
}

@media (max-width: 450px) {
  :root {
    --scaling:1.15;
    --sizeLogo:12vh;
  }
}

@media (max-width: 394px) {
  :root {
    --scaling:1.1;
    --sizeLogo:10vh;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-title {
    animation: App-title infinite 5s cubic-bezier(.71,0,.36,1) both alternate;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.App-title {
  font-family: 'Nabla', cursive;
  font-size: var(--sizeLogo);
  color: white;
  user-select: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-title {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(var(--scaling));
  }
}
