.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-title {
    animation: App-header infinite 360s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.App-title {
  font-family: 'Nabla', cursive;
  font-size: 180px;
  color: white;
  user-select: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-header {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
