.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-title {
    animation: App-title infinite 5s cubic-bezier(1,0.3,0.3,1) both alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.App-title {
  font-family: 'Nabla', cursive;
  font-size: 200px;
  color: white;
  user-select: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-title {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
